In [1]:
import pandas as pd
import numpy as np

In [2]:
train = pd.read_csv('data/Train.csv')
test = pd.read_csv('data/Test.csv')
train_test_data=[train,test]

In [3]:
train.shape

(33750, 15)

In [4]:
test.head()

,date_time,is_holiday,air_pollution_index,humidity,wind_speed,wind_direction,visibility_in_miles,dew_point,temperature,rain_p_h,snow_p_h,clouds_all,weather_type,weather_description
0,2017-05-18 00:00:00,None,73,63,1,27,4,4,285.15,0.0,0,90,Rain,moderate rain
1,2017-05-18 00:00:00,None,251,63,1,27,4,4,285.15,0.0,0,90,Mist,mist
2,2017-05-18 00:00:00,None,75,56,1,0,1,1,285.15,0.0,0,90,Drizzle,light intensity drizzle
3,2017-05-18 01:00:00,None,98,56,1,351,2,2,284.79,0.0,0,90,Rain,heavy intensity rain
4,2017-05-18 01:00:00,None,283,56,1,351,1,1,284.79,0.0,0,90,Mist,mist

In [5]:
train.shape

(33750, 15)

In [6]:
test.shape

(14454, 14)

In [7]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33750 entries, 0 to 33749
Data columns (total 15 columns):
date_time              33750 non-null object
is_holiday             33750 non-null object
air_pollution_index    33750 non-null int64
humidity               33750 non-null int64
wind_speed             33750 non-null int64
wind_direction         33750 non-null int64
visibility_in_miles    33750 non-null int64
dew_point              33750 non-null int64
temperature            33750 non-null float64
rain_p_h               33750 non-null float64
snow_p_h               33750 non-null float64
clouds_all             33750 non-null int64
weather_type           33750 non-null object
weather_description    33750 non-null object
traffic_volume         33750 non-null int64
dtypes: float64(3), int64(8), object(4)
memory usage: 3.9+ MB

In [8]:
train.isnull().sum()

date_time              0
is_holiday             0
air_pollution_index    0
humidity               0
wind_speed             0
wind_direction         0
visibility_in_miles    0
dew_point              0
temperature            0
rain_p_h               0
snow_p_h               0
clouds_all             0
weather_type           0
weather_description    0
traffic_volume         0
dtype: int64

In [9]:
test.isnull().sum()

date_time              0
is_holiday             0
air_pollution_index    0
humidity               0
wind_speed             0
wind_direction         0
visibility_in_miles    0
dew_point              0
temperature            0
rain_p_h               0
snow_p_h               0
clouds_all             0
weather_type           0
weather_description    0
dtype: int64

In [10]:
train.shape

(33750, 15)

In [11]:
train.drop_duplicates(subset="date_time",inplace=True)

In [12]:
train.shape

(28589, 15)

In [13]:
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
sns.set()

In [14]:
from datetime import datetime
train['date_time'] = pd.to_datetime(train.date_time)
train['year'] = train['date_time'].dt.year
train['month'] = train['date_time'].dt.month
train['day'] = train['date_time'].dt.day
train['dayofyear'] = train['date_time'].dt.dayofyear
train['weekofyear'] = train['date_time'].dt.weekofyear
train['dayofweek'] = train['date_time'].dt.dayofweek
train['hour'] = train['date_time'].dt.hour
train.head()

,date_time,is_holiday,air_pollution_index,humidity,wind_speed,wind_direction,visibility_in_miles,dew_point,temperature,rain_p_h,...,weather_type,weather_description,traffic_volume,year,month,day,dayofyear,weekofyear,dayofweek,hour
0,2012-10-02 09:00:00,None,121,89,2,329,1,1,288.28,0.0,...,Clouds,scattered clouds,5545,2012,10,2,276,40,1,9
1,2012-10-02 10:00:00,None,178,67,3,330,1,1,289.36,0.0,...,Clouds,broken clouds,4516,2012,10,2,276,40,1,10
2,2012-10-02 11:00:00,None,113,66,3,329,2,2,289.58,0.0,...,Clouds,overcast clouds,4767,2012,10,2,276,40,1,11
3,2012-10-02 12:00:00,None,20,66,3,329,5,5,290.13,0.0,...,Clouds,overcast clouds,5026,2012,10,2,276,40,1,12
4,2012-10-02 13:00:00,None,281,65,3,329,7,7,291.14,0.0,...,Clouds,broken clouds,4918,2012,10,2,276,40,1,13

In [15]:
test['date_time'] = pd.to_datetime(test.date_time)
test['year'] = test['date_time'].dt.year
test['month'] = test['date_time'].dt.month
test['day'] = test['date_time'].dt.day
test['dayofyear'] = test['date_time'].dt.dayofyear
test['weekofyear'] = test['date_time'].dt.weekofyear
test['dayofweek'] = test['date_time'].dt.dayofweek
test['hour'] = test['date_time'].dt.hour
test.head()

,date_time,is_holiday,air_pollution_index,humidity,wind_speed,wind_direction,visibility_in_miles,dew_point,temperature,rain_p_h,...,clouds_all,weather_type,weather_description,year,month,day,dayofyear,weekofyear,dayofweek,hour
0,2017-05-18 00:00:00,None,73,63,1,27,4,4,285.15,0.0,...,90,Rain,moderate rain,2017,5,18,138,20,3,0
1,2017-05-18 00:00:00,None,251,63,1,27,4,4,285.15,0.0,...,90,Mist,mist,2017,5,18,138,20,3,0
2,2017-05-18 00:00:00,None,75,56,1,0,1,1,285.15,0.0,...,90,Drizzle,light intensity drizzle,2017,5,18,138,20,3,0
3,2017-05-18 01:00:00,None,98,56,1,351,2,2,284.79,0.0,...,90,Rain,heavy intensity rain,2017,5,18,138,20,3,1
4,2017-05-18 01:00:00,None,283,56,1,351,1,1,284.79,0.0,...,90,Mist,mist,2017,5,18,138,20,3,1

In [16]:
train['dates']=[d.date() for d in train['date_time']]
date_of_holiday = train.dates[train.is_holiday != 'None']
holiday_type = train.is_holiday[train.is_holiday != 'None']
mapping = {i:j for i,j in zip(date_of_holiday,holiday_type)}
for x in mapping:
    train.loc[train.dates == x , 'is_holiday'] = mapping[x]

In [17]:
test['dates']=[d.date() for d in test['date_time']]
date_of_holiday = test.dates[test.is_holiday != 'None']
holiday_type = test.is_holiday[test.is_holiday != 'None']
mapping = {i:j for i,j in zip(date_of_holiday,holiday_type)}
for x in mapping:
    test.loc[test.dates == x , 'is_holiday'] = mapping[x]

In [18]:
train.drop('dates',axis=1,inplace=True)
test.drop('dates',axis=1,inplace=True)

In [19]:
date_time=test['date_time']
train.drop('date_time',axis=1,inplace=True)

In [20]:
test.drop('date_time',axis=1,inplace=True)

In [21]:
train.head()

,is_holiday,air_pollution_index,humidity,wind_speed,wind_direction,visibility_in_miles,dew_point,temperature,rain_p_h,snow_p_h,...,weather_type,weather_description,traffic_volume,year,month,day,dayofyear,weekofyear,dayofweek,hour
0,None,121,89,2,329,1,1,288.28,0.0,0.0,...,Clouds,scattered clouds,5545,2012,10,2,276,40,1,9
1,None,178,67,3,330,1,1,289.36,0.0,0.0,...,Clouds,broken clouds,4516,2012,10,2,276,40,1,10
2,None,113,66,3,329,2,2,289.58,0.0,0.0,...,Clouds,overcast clouds,4767,2012,10,2,276,40,1,11
3,None,20,66,3,329,5,5,290.13,0.0,0.0,...,Clouds,overcast clouds,5026,2012,10,2,276,40,1,12
4,None,281,65,3,329,7,7,291.14,0.0,0.0,...,Clouds,broken clouds,4918,2012,10,2,276,40,1,13

In [22]:
test.head()

,is_holiday,air_pollution_index,humidity,wind_speed,wind_direction,visibility_in_miles,dew_point,temperature,rain_p_h,snow_p_h,clouds_all,weather_type,weather_description,year,month,day,dayofyear,weekofyear,dayofweek,hour
0,None,73,63,1,27,4,4,285.15,0.0,0,90,Rain,moderate rain,2017,5,18,138,20,3,0
1,None,251,63,1,27,4,4,285.15,0.0,0,90,Mist,mist,2017,5,18,138,20,3,0
2,None,75,56,1,0,1,1,285.15,0.0,0,90,Drizzle,light intensity drizzle,2017,5,18,138,20,3,0
3,None,98,56,1,351,2,2,284.79,0.0,0,90,Rain,heavy intensity rain,2017,5,18,138,20,3,1
4,None,283,56,1,351,1,1,284.79,0.0,0,90,Mist,mist,2017,5,18,138,20,3,1

In [23]:
train.head()

,is_holiday,air_pollution_index,humidity,wind_speed,wind_direction,visibility_in_miles,dew_point,temperature,rain_p_h,snow_p_h,...,weather_type,weather_description,traffic_volume,year,month,day,dayofyear,weekofyear,dayofweek,hour
0,None,121,89,2,329,1,1,288.28,0.0,0.0,...,Clouds,scattered clouds,5545,2012,10,2,276,40,1,9
1,None,178,67,3,330,1,1,289.36,0.0,0.0,...,Clouds,broken clouds,4516,2012,10,2,276,40,1,10
2,None,113,66,3,329,2,2,289.58,0.0,0.0,...,Clouds,overcast clouds,4767,2012,10,2,276,40,1,11
3,None,20,66,3,329,5,5,290.13,0.0,0.0,...,Clouds,overcast clouds,5026,2012,10,2,276,40,1,12
4,None,281,65,3,329,7,7,291.14,0.0,0.0,...,Clouds,broken clouds,4918,2012,10,2,276,40,1,13

In [24]:
test.head()

,is_holiday,air_pollution_index,humidity,wind_speed,wind_direction,visibility_in_miles,dew_point,temperature,rain_p_h,snow_p_h,clouds_all,weather_type,weather_description,year,month,day,dayofyear,weekofyear,dayofweek,hour
0,None,73,63,1,27,4,4,285.15,0.0,0,90,Rain,moderate rain,2017,5,18,138,20,3,0
1,None,251,63,1,27,4,4,285.15,0.0,0,90,Mist,mist,2017,5,18,138,20,3,0
2,None,75,56,1,0,1,1,285.15,0.0,0,90,Drizzle,light intensity drizzle,2017,5,18,138,20,3,0
3,None,98,56,1,351,2,2,284.79,0.0,0,90,Rain,heavy intensity rain,2017,5,18,138,20,3,1
4,None,283,56,1,351,1,1,284.79,0.0,0,90,Mist,mist,2017,5,18,138,20,3,1

In [25]:
train.drop('dew_point',axis=1,inplace=True)
test.drop('dew_point',axis=1,inplace=True)

train.drop('air_pollution_index',axis=1,inplace=True)
test.drop('air_pollution_index',axis=1,inplace=True)

train.drop('wind_direction',axis=1,inplace=True)
test.drop('wind_direction',axis=1,inplace=True)

In [26]:
train['is_holiday'].value_counts()

None                         27745
Washingtons Birthday            91
Christmas Day                   89
New Years Day                   88
Veterans Day                    84
Thanksgiving Day                83
Columbus Day                    81
State Fair                      72
Independence Day                72
Labor Day                       70
Memorial Day                    69
Martin Luther King Jr Day       45
Name: is_holiday, dtype: int64

In [27]:
holiday_map= {"None":0, "New Years Day":1, "Christmas Day":1, "Thanksgiving Day":1, "Veterans Day":1,
              "Columbus Day":1, "Washingtons Birthday":1, "Labor Day":1, "State Fair":1, "Independence Day":1,
              "Martin Luther King Jr Day":1, "Memorial Day":1}
for  dataset in train_test_data:
    dataset['is_holiday']=dataset['is_holiday'].map(holiday_map)
train.head()

,is_holiday,humidity,wind_speed,visibility_in_miles,temperature,rain_p_h,snow_p_h,clouds_all,weather_type,weather_description,traffic_volume,year,month,day,dayofyear,weekofyear,dayofweek,hour
0,0,89,2,1,288.28,0.0,0.0,40,Clouds,scattered clouds,5545,2012,10,2,276,40,1,9
1,0,67,3,1,289.36,0.0,0.0,75,Clouds,broken clouds,4516,2012,10,2,276,40,1,10
2,0,66,3,2,289.58,0.0,0.0,90,Clouds,overcast clouds,4767,2012,10,2,276,40,1,11
3,0,66,3,5,290.13,0.0,0.0,90,Clouds,overcast clouds,5026,2012,10,2,276,40,1,12
4,0,65,3,7,291.14,0.0,0.0,75,Clouds,broken clouds,4918,2012,10,2,276,40,1,13

In [28]:
from sklearn.preprocessing import LabelEncoder
labelencoder_X = LabelEncoder()
train['weather_type'] = labelencoder_X.fit_transform(train['weather_type'])
train.head(5)

,is_holiday,humidity,wind_speed,visibility_in_miles,temperature,rain_p_h,snow_p_h,clouds_all,weather_type,weather_description,traffic_volume,year,month,day,dayofyear,weekofyear,dayofweek,hour
0,0,89,2,1,288.28,0.0,0.0,40,1,scattered clouds,5545,2012,10,2,276,40,1,9
1,0,67,3,1,289.36,0.0,0.0,75,1,broken clouds,4516,2012,10,2,276,40,1,10
2,0,66,3,2,289.58,0.0,0.0,90,1,overcast clouds,4767,2012,10,2,276,40,1,11
3,0,66,3,5,290.13,0.0,0.0,90,1,overcast clouds,5026,2012,10,2,276,40,1,12
4,0,65,3,7,291.14,0.0,0.0,75,1,broken clouds,4918,2012,10,2,276,40,1,13

In [29]:
test['weather_type'] = labelencoder_X.fit_transform(test['weather_type'])
test.head(5)

,is_holiday,humidity,wind_speed,visibility_in_miles,temperature,rain_p_h,snow_p_h,clouds_all,weather_type,weather_description,year,month,day,dayofyear,weekofyear,dayofweek,hour
0,0,63,1,4,285.15,0.0,0,90,6,moderate rain,2017,5,18,138,20,3,0
1,0,63,1,4,285.15,0.0,0,90,5,mist,2017,5,18,138,20,3,0
2,0,56,1,1,285.15,0.0,0,90,2,light intensity drizzle,2017,5,18,138,20,3,0
3,0,56,1,2,284.79,0.0,0,90,6,heavy intensity rain,2017,5,18,138,20,3,1
4,0,56,1,1,284.79,0.0,0,90,5,mist,2017,5,18,138,20,3,1

In [30]:
train['weather_type'].value_counts()

1     11175
0      9212
6      3329
5      2095
8      1583
4       548
2       329
10      180
3       124
7        13
9         1
Name: weather_type, dtype: int64

In [31]:
test.head()

,is_holiday,humidity,wind_speed,visibility_in_miles,temperature,rain_p_h,snow_p_h,clouds_all,weather_type,weather_description,year,month,day,dayofyear,weekofyear,dayofweek,hour
0,0,63,1,4,285.15,0.0,0,90,6,moderate rain,2017,5,18,138,20,3,0
1,0,63,1,4,285.15,0.0,0,90,5,mist,2017,5,18,138,20,3,0
2,0,56,1,1,285.15,0.0,0,90,2,light intensity drizzle,2017,5,18,138,20,3,0
3,0,56,1,2,284.79,0.0,0,90,6,heavy intensity rain,2017,5,18,138,20,3,1
4,0,56,1,1,284.79,0.0,0,90,5,mist,2017,5,18,138,20,3,1

In [32]:
train['weather_description'] = labelencoder_X.fit_transform(train['weather_description'])
train.head(5)
test['weather_description'] = labelencoder_X.fit_transform(test['weather_description'])
test.head(5)

,is_holiday,humidity,wind_speed,visibility_in_miles,temperature,rain_p_h,snow_p_h,clouds_all,weather_type,weather_description,year,month,day,dayofyear,weekofyear,dayofweek,hour
0,0,63,1,4,285.15,0.0,0,90,6,15,2017,5,18,138,20,3,0
1,0,63,1,4,285.15,0.0,0,90,5,14,2017,5,18,138,20,3,0
2,0,56,1,1,285.15,0.0,0,90,2,9,2017,5,18,138,20,3,0
3,0,56,1,2,284.79,0.0,0,90,6,7,2017,5,18,138,20,3,1
4,0,56,1,1,284.79,0.0,0,90,5,14,2017,5,18,138,20,3,1

In [33]:
from sklearn.model_selection import train_test_split
X_train,X_test = train_test_split(train,test_size=0.2,random_state=0)

In [34]:
y_train=X_train['traffic_volume']
X_train.drop('traffic_volume',axis=1,inplace=True)

y_test=X_test['traffic_volume']
X_test.drop('traffic_volume',axis=1,inplace=True)

/home/yash/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:3940: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [35]:
X_train.head()

,is_holiday,humidity,wind_speed,visibility_in_miles,temperature,rain_p_h,snow_p_h,clouds_all,weather_type,weather_description,year,month,day,dayofyear,weekofyear,dayofweek,hour
29597,0,87,5,4,270.75,0.0,0.0,90,8,16,2016,12,29,364,52,3,19
12411,0,57,5,4,261.15,0.0,0.0,40,1,23,2014,2,21,52,8,4,12
19748,0,64,1,7,274.30,0.0,0.0,90,4,7,2015,11,30,334,49,0,14
28832,0,73,7,2,273.42,0.0,0.0,1,0,24,2016,12,5,340,49,0,1
17420,0,81,4,1,299.18,0.0,0.0,40,1,23,2015,8,16,228,33,6,12

In [36]:
train.shape

(28589, 18)

In [37]:
test.shape

(14454, 17)

In [38]:
from sklearn.ensemble import RandomForestRegressor
lr = RandomForestRegressor(bootstrap=True,n_estimators=500,max_features=0.5) 
lr.fit(X_train,y_train)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
                      max_features=0.5, max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, n_estimators=500,
                      n_jobs=None, oob_score=False, random_state=None,
                      verbose=0, warm_start=False)

In [39]:
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_log_error,r2_score
y_pred= lr.predict(X_test)
r2 = r2_score(y_test, y_pred)
mae = mean_absolute_error(y_test, y_pred)
mse = mean_squared_error(y_test, y_pred)
lmse = mean_squared_log_error(y_test, y_pred)
rmse = np.sqrt(mse)
lrmse = np.sqrt(lmse)
print("R2 score:", r2)
print("MAE:", mae)
print("MSE:", mse)
print("LMSE:", lmse)
print("RMSE:", rmse)
print("LRMSE:", lrmse)

R2 score: 0.9752560480442017
MAE: 194.87585764253237
MSE: 97059.6593014054
LMSE: 0.03848040607816738
RMSE: 311.5439925618939
LRMSE: 0.19616423241296405

In [ ]:
year = int(input('Enter a year'))
month = int(input('Enter a month'))
day = int(input('Enter a day'))
date1 = datetime.date(year, month, day)

In [ ]:

y_pred= lr.predict(test)

In [ ]:
my_solution=pd.DataFrame(y_pred,date_time,columns=["traffic_volume"])
print(my_solution.shape)

In [ ]:
my_solution.to_csv('prode1.csv',index_label=["date_time"])